
.MuiCheckbox-colorSecondary.Mui-checked {
    color:#042288 !important
}
.ui.dropdown>.dropdown.icon {
    color: TRANSPARENT  !important;
}

.PrivateSwitchBase-root-7 {
    padding: 1px !important;
}
.jss7 {
    padding: 0px !important;

}